<div>
    <small>Total Results : <span ng-bind="totalDataCount"></span> Results</small>
</div>
<div>
    <div>
        <table>
            <tr>
                <th>Title          </th>
                <th>ID             </th>
                <th>URL Address    </th>
                <th>Favicon Image  </th>
                <th>Tag            </th>
            </tr>
            <tr ng-repeat="products in searchData">
                <td>{{products.title}}  </td>
                <td>{{products.id}}    </td>
                <td><a ng-href='{{products.url_address}}'>{{products.url_address}}</a></td>
                <td><img async ng-src='{{products.favicon_image}}'/></td>
                <td>{{products.tag}} </td>
            </tr>
        </table>
    </div>
</div>

